<div id="city_members" data-hook="member">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= plural_resource_name(Spree::Locality) %></legend>

    <%= zone_form.field_container :city_ids do %>
      <%= zone_form.label :city_ids, plural_resource_name(Spree::Locality) %><br>
      <%= zone_form.collection_select :city_ids, @cities, :id, :name, {}, { multiple: true, class: "select2 fullwidth" } %>
    <% end %>
  </fieldset>
</div>
